.header {
  border-bottom: 5px solid #d61d39;
}

/* CONTACT SECTION */
.contact {
  padding: 9.6rem 0;
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  column-gap: 6.4rem;
  row-gap: 9.6rem;
}

.contact-box-text {
  padding: 3.6rem;
  background-color: #fff;
  border-radius: 5px;

  box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.111);
}

.contact-header {
  /* padding: 2.4rem; */
  font-size: 2.4rem;
}

button {
  margin: 2.4rem 0;
}

.info-icon,
.info-name {
  color: #1a2d59;
  font-weight: 600;
}

.contact-warp {
  display: flex;
  column-gap: 6.2rem;
}

.contact-message {
  font-size: 1.6rem;
  margin: 2.4rem 0;
  line-height: 2;
}

.contact-box-info {
  background-color: #bac0cd;
  padding: 3.6rem;
  border-radius: 5px;
}

.form-contact input {
  width: 100%;
  padding: 1.2rem;
  font-size: 1.8rem;
  font-family: inherit;
  color: inherit;
  border: none;
  background-color: #e1e1e1;
  border-radius: 3px;
}

.btn--form {
  background-color: #d61d39;
  border: none;
  border-radius: 3px;
  color: #ffff;
  padding: 1.2rem 2.4rem;
  cursor: pointer;
}

.text-contact {
  padding: 2.8rem 0;
}

.contact-box-text *:focus {
  outline: none;
  box-shadow: 0 0 0 0.8rem rgba(224, 224, 224, 0.377);
}
