/*====================*/
/* STAFF HERO SECTION */
/*====================*/

.section-staff-hero {
  background-color: #e8eaee;
  border-top: 5px solid #d61d39;
}

.staff-hero {
  height: auto;
  background-image: linear-gradient(
      to right top,
      rgba(0, 0, 0, 0.504),
      rgba(57, 79, 126, 0.4)
    ),
    url(../img/guru-smansa.png);
  background-size: cover;
  background-position: top;
  margin-right: 0;

  overflow: hidden;
}

/*====================*/
/* STAFF SECTION */
/*====================*/

.section-staff {
  padding: 9.6rem 0;
  color: #1a2d59;
}

/* Head Master */

.head-master {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  column-gap: 1.2rem;
  /* padding-bottom: 9.6rem; */
}

.teacher-heading {
  display: flex;
  justify-content: center;
  margin-bottom: 4.8rem;
}

.teacher-img-top {
  width: 100%;
  border-radius: 3px;
}

/* .teacher-img {
  width: 100;
} */

.teacher-text {
  /* font-size: 1.4rem; */
  border-top: 1px solid #1a2d59;
  padding-top: 2.4rem;
  line-height: 1.75;
}

.teacher-quote {
  font-style: italic;
  margin: 2.4rem 0;
  font-size: 1.8rem;
  line-height: 1.75;
  color: inherit;
}

.teacher-title {
  padding-bottom: 2.4rem;
}

.teacher-description {
  line-height: 1.5;
  text-align: left;
  padding-left: 2.4rem;
  font-size: 1.8rem;
  /* transform: translate(0, 20%); */
}

/*====================*/
/* INFO SECTION */
/*====================*/

.info-section {
  color: #1a2d59;
  padding: 9.6rem 0;
}

.info-number {
  font-size: 8.6rem;
  font-weight: 600;
  color: #bac0cd;
  margin-bottom: 1.2rem;

  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.info-description {
  font-size: 1.8rem;
  line-height: 1.75;
}

.info-icon-head {
  display: flex;
  align-items: center;
  gap: 1.2rem;
  margin: 2.4rem 0 1.8rem 0;
}

.profile-icon-info {
  margin-bottom: 0;
}

/*====================*/
/* STAFF GALLERY SECTION */
/*====================*/

.section-staff-gallery {
  padding: 9.6rem 0;
  color: #1a2d59;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.6rem;
  row-gap: 1.6rem;
}

.gallery-container {
  padding: 0 1.6rem;
}

.gallery-item {
  overflow: hidden;
}

.gallery-item:last-child {
  margin-bottom: 4.8rem;
}

.gallery-item img {
  display: block;
  width: 100%;
  transition: all 0.3s ease;
}

.gallery-item img:hover {
  filter: opacity(60%);
  transform: scale(1.1);
}
