/*
color: 
#1a2d59
#76819b
#1717e6 
#d61d39

shade:
#da344d

 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  /* overflow-x: hidden; */
}

body {
  font-family: "open-sans", sans-serif;
  font-weight: 400;
  line-height: 1;
  color: #555;
}

.container {
  max-width: 1140px;
  padding: 0 3.2rem;
  margin: 0 auto;
}

.grid {
  display: grid;
  column-gap: 6.4rem;
  row-gap: 9.6rem;
}

.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}

.grid--3-cols {
  grid-template-columns: 1fr 1fr 1fr;
}

.grid--4-cols {
  grid-template-columns: repeat(4, 1fr);
}

.header {
  display: flex;
  /* justify-content: space-between; */
  justify-content: center;
  /* font-weight: 600; */
  align-items: center;
  /* height: 6.4rem; */
  padding: 0 3.4rem;
  position: relative;
  background-color: #fff;
}

/*====================*/
/* HEADER */
/*====================*/

.logo {
  height: 10.2rem;
}

.nav-logo {
  padding: 0 3.4rem 0 0;
}

.heading-second,
.heading-first {
  text-transform: uppercase;
  letter-spacing: 1.05px;
}

/* NAVIGATION */
.main-nav-list {
  list-style: none;
  display: flex;
  gap: 3.6rem;
  cursor: pointer;
  align-items: center;
  font-weight: 600;
}

.nav-logo-title,
.nav-logo-des {
  display: none;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  font-size: 2rem;
  color: #1a2d59;
  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #d61d39;
}

.main-nav-tuition:link,
.main-nav-tuition:visited {
  /* margin-left: 2.4rem; */
  padding: 0.7rem 1rem;
  background-color: #d61d39;
  font-weight: 400;
  border-radius: 3px;
  color: #fff;
  transition: all 0.3s;
}

.main-nav-tuition:hover,
.main-nav-tuition:active {
  background-color: #da344d;
}

/*====================*/
/* HERO */
/*====================*/

.section-hero {
  /* background-color: #eee; */
  background-color: #e8eaee;
  border-top: 5px solid #d61d39;
}

.hero {
  height: 100%;
  background-image: linear-gradient(
      to right top,
      rgba(0, 0, 0, 0.504),
      rgba(57, 79, 126, 0.4)
    ),
    url(../img/guru-salam.JPG);
  background-size: cover;
  background-position: center;
  margin-right: 0;

  overflow: hidden;
}

.hero-text-box {
  width: 100%;
  padding: 9.6rem 0;
  color: #fff;
}

.heading-first-hero {
  text-align: center;
}

.hero-description {
  font-size: 2rem;
  line-height: 1.75;
  margin-bottom: 3.2rem;
  text-align: center;
}

.btn:link,
.btn:visited {
  background-color: #d61d39;
  padding: 0.7rem 2rem;
  border-radius: 3px;
  font-size: 1.8rem;
  font-weight: 500;
  text-decoration: none;
  color: #fff;
  transition: all 0.3s;
}

.btn:hover,
.btn:active {
  background-color: #da344d;
}

/*====================*/
/* PROFILE */
/*====================*/

.section-profile {
  background-color: #fff;
  padding: 9.6rem 0;
}

.profile {
  color: #1a2d59;
}

.profile:last-child {
  margin-bottom: 0;
}

.location-link:link,
.location-link:visited {
  display: block;
  /* font-size: 1.2rem; */
  padding-top: 2.2rem;
  color: inherit;
  /* text-decoration: none; */
  transition: all 0.3s;
}

.location-link:hover,
.location-link:active {
  color: #d61d39;
}

.profile-heading {
  display: flex;
  justify-content: center;
  margin-bottom: 4.8rem;
}

.heading-second-num {
  color: #8d96ac;
  font-size: 4.2rem;
  font-weight: 600;
  margin-bottom: 3.2rem;
}

.heading-third-profile {
  margin-bottom: 1.6rem;
}

.profile-icon {
  color: #d61d39;
  width: 4.2rem;
  height: 4.2rem;
  margin-bottom: 2.4rem;
}

/*====================*/
/* SECTION NEWS */
/*====================*/

.section-news {
  color: #1a2d59;
  padding: 9.6rem 0;
  background-color: #fafafa;
}

.news:last-child {
  margin-bottom: 4.8rem;
}

.latest-news-img {
  display: block;
  width: 100%;
  border-radius: 3px;
  transition: all 0.3s ease-in;
}

.latest-news-img:hover {
  /* filter: opacity(60%); */
  transform: translateY(-1.2rem);
  box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.075);
}

.latest-news-header {
  display: flex;
  justify-content: center;
  margin-bottom: 4.8rem;
}

.btn-news {
  margin: 3.2rem 0;
  text-align: center;
}

.news-date-icon {
  width: 2rem;
  height: 2rem;
  color: #76819b;
}

.content-warp {
  display: flex;
  align-items: center;
  column-gap: 1.2rem;
  /* justify-content: center; */
}

.post-content-text:link,
.post-content-text:visited {
  line-height: 1.05;
  /* font-size: 1.8rem; */
  font-weight: 600;
  display: inline-block;
  text-decoration: none;
  color: inherit;
  transition: all 0.2s ease-in-out;
  margin-top: 2.4rem;
}

.post-content-text:hover,
.post-content-text:active {
  color: #d61d39;
  text-decoration: underline #d61d39;
}

.post-content span {
  display: block;
  font-size: 1.6rem;
  line-height: 1.5em;
  margin-bottom: 1.2rem;
  margin-top: 1.2rem;
  color: #76819b;
}

/*====================*/
/* FOOTER */
/*====================*/

.footer {
  /* border-top: 1px solid #d1d5de; */
  padding: 9.6rem 0;
  background-color: #e8eaee;
}

.grid--footer {
  grid-template-columns: 1.2fr 1.5fr 1fr 1fr 1fr;
  column-gap: 3.6rem;
}

.footer-logo .logo {
  height: 15.8rem;
  /* padding: 1.2rem; */
}

.footer-logo-text {
  letter-spacing: 1.5px;
  font-size: 1.6rem;
}

.logo-col .footer-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logo-col a:link,
.logo-col a:visited {
  text-decoration: none;
  color: inherit;
  text-transform: uppercase;
  font-weight: 600;
}

.footer a:hover,
.footer-nav:hover {
  color: #333333;
}

.social-icon {
  width: 3.2rem;
  height: 2.4rem;
}

.icon-text:hover,
.icon-text:active {
  color: #888888;
}

.first-row-content,
.social-list {
  font-style: normal;
  line-height: 1.6;
  margin: 2.4rem 0;
  font-size: 1.6rem;
  /* justify-content: center; */
}

.row {
  margin-top: auto;
  font-size: 1.2rem;
  text-align: center;
}

.tiny-footer {
  background-color: #e8eaee;
  color: #666666;
  padding-bottom: 9.2rem;
}

.footer-heading {
  font-size: 1.8rem;
  font-weight: 600;
  margin-bottom: 4rem;
}

.first-row {
  margin-bottom: 3.2rem;
}

.footer-link {
  align-items: center;
  text-decoration: none;
  color: inherit;
}

.contacts,
.phone,
.email-address,
.social-list {
  font-style: normal;
  text-align: start;
  text-decoration: none;
  color: inherit;
  display: flex;
  align-items: center;
  column-gap: 1.2rem;
}

.day-name {
  color: #333333;
  margin-bottom: 1.2rem;
}

.day-content {
  font-size: 1.6rem;
  margin: 3.4rem 0;
}

.others {
  list-style: none;
  display: flex;
  flex-direction: column;
  row-gap: 2.4rem;
}

.others-col {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.others .other-content a:link,
.others .other-content a:visited {
  text-decoration: none;
  font-size: 1.6rem;
  color: inherit;
  transition: all 0.3s;
  padding-bottom: 1.2rem;
}

.others .other-content a:hover,
.others .other-content a:active {
  color: #333333;
}
