/*
color: 
#1a2d59
#1717e6 
#d61d39

shade:
#da344d

 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* font-family: "rubik"; */
  font-family: "rubik", sans-serif;
  font-weight: 400;
  line-height: 1;
  color: #555;
}

.container {
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}

.grid {
  display: grid;
  column-gap: 6.4rem;
  row-gap: 6.4rem;
}

.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}

.grid--3-cols {
  grid-template-columns: 1fr 1fr 1fr;
}

.grid--4-cols {
  grid-template-columns: repeat(4, 1fr);
}

.header {
  display: flex;
  /* justify-content: space-between; */
  justify-content: center;
  /* font-weight: 500; */
  align-items: center;
  height: 6.4rem;
  padding: 0 6.4rem;
  position: relative;
  background-color: #fff;
}

/*====================*/
/* HEADER */
/*====================*/

.logo {
  height: 4.8rem;
  gap: 4.8rem;
  display: block;
  margin: 2.4rem 3.2rem;
}

.heading-first {
  line-height: 1.5;
  font-size: 3.5rem;
}

.heading-second {
  font-size: 2.4rem;
}

.heading-third {
  font-size: 1.4rem;
}

.heading-second,
.heading-first {
  text-transform: uppercase;
  letter-spacing: 1.05px;
}

/* NAVIGATION */
.main-nav-list {
  list-style: none;
  display: flex;
  gap: 3.2rem;
  cursor: pointer;
  align-items: center;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  font-size: 1.4rem;
  font-weight: 500;
  color: #1a2d59;
  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #1717e6;
}

.main-nav-tuition:link,
.main-nav-tuition:visited {
  /* margin-left: 2.4rem; */
  padding: 0.7rem 1rem;
  background-color: #d61d39;
  font-weight: 400;
  border-radius: 3px;
  color: #fff;
  transition: all 0.3s;
}

.main-nav-tuition:hover,
.main-nav-tuition:active {
  background-color: #da344d;
}

/*====================*/
/* HERO */
/*====================*/

.section-hero {
  /* background-color: #eee; */
  background-color: #e8eaee;
  border-top: 5px solid #d61d39;
  /* margin-bottom: 4.8rem; */
}

.hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  overflow: hidden;
}

.hero-text-box {
  width: 100%;
  padding: 9.6rem;
  color: #1a2d59;
}

.hero-img {
  height: auto;
  background-image: linear-gradient(
      to right top,
      rgba(221, 221, 221, 0.4),
      rgba(69, 97, 159, 0.4)
    ),
    url(../img/siswa.jpeg);
  background-size: cover;
  background-position: center;
}

.hero-description {
  font-size: 1.4rem;
  line-height: 2;
  margin-bottom: 4.6rem;
}

.btn:link,
.btn:visited {
  background-color: #d61d39;
  padding: 0.7rem 2rem;
  border-radius: 3px;
  font-size: 1.2rem;
  font-weight: 500;
  text-decoration: none;
  color: #fff;
  transition: all 0.3s;
}

.btn:hover,
.btn:active {
  background-color: #da344d;
}

/*====================*/
/* PROFILE */
/*====================*/

.section-profile {
  background-color: #fff;
  /* margin: 5.2rem 4.8rem; */
  padding: 4.8rem 9.6rem;
}

.profile {
  color: #1a2d59;
  position: relative;
}

.profile-heading {
  display: flex;
  position: absolute;
  margin-bottom: 3.2rem;
}

.profile-warp {
  /* padding: 6.4rem 5.2rem 4.8rem 4.8rem; */
  padding: 5.4rem 4.8rem 4.8rem 4.8rem;
}

.profile-count {
  padding: 6.4rem 4.8rem 4.8rem 4.8rem;
}

.margin-right-sm {
  margin-left: 9.6rem !important;
}

.heading-second-num {
  color: #8d96ac;
  font-size: 4.2rem;
  font-weight: 600;
  margin-bottom: 3.2rem;
}

.heading-third-profile {
  margin-bottom: 1.6rem;
}

.profil-description {
  font-size: 1.4rem;
  line-height: 1.5;
}

.profile-icon-sm {
  margin-bottom: 1.2rem !important;
}

.profile-icon {
  color: #d61d39;
  width: 3.2rem;
  height: 3.2rem;
  margin-bottom: 2.4rem;
}

/*====================*/
/* ACTIVITY */
/*====================*/

.section-activities {
  background-color: #fff;
  /* margin: 5.2rem 4.8rem; */
  padding: 4.8rem 9.6rem;
}

.activities {
  /* display: grid; */
  column-gap: 1.2rem;
  row-gap: 1.2rem;
  color: #1a2d59;
}

.activity-content {
  margin-top: 6.4rem;
  padding: 0 0 5.2rem 0;

  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
  border-radius: 11px;
  overflow: hidden;
  transition: all 0.4s;
  /* border: 5px solid #d61d39; */
}

.activity-content:hover {
  transform: translateY(-1.2rem);
  box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.2);
}

.activities-heading {
  display: flex;
  position: absolute;
  color: #1a2d59;
  margin-bottom: 3.4rem;
}

.activity-img {
  /* margin-top: 2.4rem; */
  border-radius: top 7px;
  width: 100%;
}

.activity-description {
  margin-top: 2.4rem;
  font-size: 1.6rem;
  line-height: 1.5;
  padding: 0 1.6rem;
  align-items: center;
}

.btn-round {
  border: 1px solid #d61d39;
  height: 48px;
  width: 48px;
  border-radius: 50%;
  background: none;
  cursor: pointer;
}
