/*====================*/
/* STAFF HERO SECTION */
/*====================*/

@media (max-width: 84em) {
  .container {
    max-width: 1200px;
  }

  .heading-first-hero {
    font-size: 5.2rem;
  }
}

@media (max-width: 75em) {
  html {
    /* 9px / 16px  */
    font-size: 56.25%;
  }

  .container {
    max-width: 960px;
  }

  .grid--3-cols {
    grid-template-columns: repeat(3, 1fr);
  }

  .btn-news {
    margin-top: 4.8rem;
  }

  .heading-second {
    font-size: 3.2rem;
  }

  .heading-third {
    font-size: 2.4rem;
  }
}

@media (max-width: 59em) {
  html {
    /* 8px / 16px = 0.5 = 50% */
    font-size: 50%;
  }

  .hero {
    width: auto;
  }

  .header-icon {
    display: flex;
    align-items: center;
    gap: 1.2rem;
  }

  .grid--3-cols {
    grid-template-columns: repeat(2, 1fr);
  }

  /* NAV - LOGO TEXT */

  .warp {
    align-items: center;
    font-family: "rubik";

    gap: 1.2rem;
  }

  .nav-logo-title,
  .nav-logo-des {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .header a:link {
    text-decoration: none;
  }

  .nav-logo-title {
    font-size: 2.2rem;

    color: #1a2d59;
    font-weight: 700;
    line-height: 1.75;
    letter-spacing: 1.05px;
    text-transform: uppercase;
  }

  .nav-logo-des {
    font-size: 62.5%;
    text-decoration: none;
    text-transform: uppercase;

    color: #1a2d59;
    font-weight: 500;
  }

  .header,
  .nav-logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    column-gap: 1.2rem;
  }

  .logo {
    height: 8.4rem;
  }

  /* NEWS */

  .location-link:link,
  .location-link:visited {
    padding-top: 0;
  }

  /* MOBILE */

  .btn-mobile-nav {
    display: block;
  }

  .main-nav {
    background-color: rgba(26, 46, 91, 0.71);
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    /* z-index: 2; */
    /* transform: translateX(100%); */

    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease-in;
    backdrop-filter: blur(5px);

    /* Hide navigation */
    /* Allows NO transitions at all */
    /* display: none; */

    /* 1) Hide it visually */
    opacity: 0;

    /* 2) Make it unaccessible to mouse and keyboard */
    pointer-events: none;

    /* 3) Hide it from screen readers */
    visibility: hidden;
  }

  .main-nav .main-nav-link {
    /* font-size: 2.4rem; */
    color: #fff;
  }

  .dropdown-btn {
    font-size: 3rem;
  }

  .nav-open .main-nav {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(0);
  }

  .nav-open .icon-mobile-nav[name="close-outline"] {
    display: block;
    color: #fff;
  }

  .nav-open .icon-mobile-nav[name="menu-outline"] {
    display: none;
  }

  .main-nav-list {
    flex-direction: column;
    gap: 4.8rem;
  }

  .main-nav-link:link,
  .main-nav-link:visited {
    font-size: 3rem;
  }

  /* FOOTER */

  .social-list {
    margin-top: 0;
    column-gap: 1.4rem;
  }
  .grid--footer {
    grid-template-columns: repeat(6, 1fr);
  }

  .footer-logo-text {
    font-size: 1.4rem;
  }

  .logo-col,
  .address-col {
    grid-row: 1;
    grid-column: span 3;
  }

  .others-col,
  .open-day-col,
  .social-col {
    grid-column: span 2;
  }
}

@media (max-width: 44em) {
  .heading-first {
    font: 4.8rem;
  }

  .hero-text-box {
    font-size: 1.4rem;
  }

  .grid--2-cols,
  .grid--3-cols {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 34em) {
  .profile {
    display: flex;
    flex-direction: column;
  }

  .grid {
    column-gap: 3.2rem;
  }

  .section-news {
    padding-top: 4.8rem;
  }
}
